.check-box .box {
    -fx-background-color: white;
    -fx-border-color: grey;
    -fx-border-radius: 3px;
}
.check-box:selected .mark {
    -fx-background-color: white;
}
.check-box:selected .box {
    -fx-background-color: #00FF00;
}
.text-field {
    -fx-border-color: gray;
}
.text-field:focused {
    -fx-border-color:  Orange;
    -fx-background-color: white;; /* Цвет границы при фокусировке */
    -fx-focus-color: transparent; /* Отключаем эффект фокусации по умолчанию */

}